/*Navigation test*/
* {
    margin: 0;
    padding: 0;
}
.wrapper {
    background: transparent;
}

.grid-container{
    display: grid;
    max-width: 1024px;
    margin: 0 auto;
    grid-template-areas:
            "logo social login"
            "logo navbar login";
}

.grid-container div:nth-child(1){
    grid-area: logo;
}

.grid-container div:nth-child(2){
    grid-area: social;
}

.grid-container div:nth-child(3){
    grid-area: navbar;
}

.grid-container div:nth-child(4){
    grid-area: login;
}

.brand-logo{
    align-items: center;
    justify-content: center;
}

.brand-logo img{
    width: 150px;
    align-items: center;
}

.social > ul li{
    display: inline-block;
    align-self: center;
}

.navbar ul {
    display: flex;
    justify-content: center;
}

.social,
.navbar ul li, a{
    text-decoration:none;
    display:inline-flex;
    padding:2px;
}

.social ul {
    display: flex;
    justify-content: flex-end;
}