/*Navigation test*/
.wrapper {
    background: #eff4ff;
}
.grid-container{
    display: grid;
    max-width: 1280px;
    height: 80px;
    margin: 0 auto;
    grid-template-rows: 25px;
    grid-template-areas:
            "logo social  .  login"
            "logo navbar  .  login";
}

.grid-container div:nth-child(1){
    grid-area: logo;
}
.grid-container div:nth-child(2){
    grid-area: social;
}
.grid-container div:nth-child(3){
    grid-area: navbar;
}

.grid-container div:nth-child(4){
    grid-area: login;
}

.brand-logo{
    align-items: center;
    justify-content: center;
}

.brand-logo img{
    width: 150px;
    align-items: center;
}
.social{
    align-items: center;
    justify-content: left;
}
.social ul li{
    display: inline-block;
    align-items: left;
    justify-content: left;
}

.navbar ul li{
    display: inline-block;
    align-items: center;
}


